*{box-sizing: border-box;}
body{font-size: 16px;}

/* layout */
#wrap{width: 100%; min-width: 320px; overflow: hidden;}
#header{width: 100%; background: #fff;}
#content{width: 100%; background: #fff; overflow: hidden;}
.container{max-width: 1200px; height: inherit; margin: 0 auto; position: relative;}



/* header PC */
.header-t{width: 100%; height: 90px;}
.header-t h1{float: left; margin: 20px 30px 0 0;}
.header-t .h-t-logos{float: left; margin-top: 20px;}
.header-t .h-t-logos a{padding: 0 3px;}
.header-t .h-t-logos a img{width: 90px; height: 50px; vertical-align: middle;}
.header-t .h-t-search{float: left; max-width: 360px; margin: 25px 0 0 50px;  position: relative;}
.header-t .h-t-search .search-box{width: 360px; border: 3px solid #0b2265; border-radius: 6px; overflow: hidden;}
.header-t .h-t-search .search-box #search{display: block; width: 100%; height: 34px; padding: 3px 50px 3px 3px; color: #666; font-size: .87em; text-indent: 5px; background: #fff; border: none;}
.header-t .h-t-search button{width: 50px; height: 40px; background: #0b2265 url(../img/resource/ico_srch.png) no-repeat center center; border-radius: 0 6px 6px 0; position: absolute; top: 0; right: 0; text-indent: -9999px;}
.header-t .h-t-btns{float: right; height: 90px; min-width: 200px; text-align: right; position: relative;}
.header-t .h-t-btns ul{position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.header-t .h-t-btns ul li{float: left; height: 20px; margin-right: 2px;}
.header-t .h-t-btns ul li a{display: block; width: 20px; height: 20px; border-radius: 50%;}
.header-t .h-t-btns .lan a{display: block; width: inherit; height: 20px; border-radius: 2px; background: #fff; font-size: 12px; color: #5b5b5b; border: 1px solid #d3d3d3; padding: 0 5px; margin-right: 3px;}
.header-t .h-t-btns .lan a:hover{border: 1px solid #0b2265; color: #0b2265;}
.header-t .h-t-btns li:nth-child(2) a{background: url(../img/resource/sns_blog.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(3) a{background: #0054a6 url(../img/resource/sns_fb.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(4) a{background: #00aeef url(../img/resource/sns_tw.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(5) a{background: #fa081f url(../img/resource/sns_yt.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(6) a{background: url(../img/resource/sns_ins.png) no-repeat center center;}

.header-b{width: 100%; height: 50px; background: #0b2266; position: relative;}
.h-b-nav{width: 100%; height: 50px; float: left; padding-right: 50px;}
.h-b-nav ul{width: 100%; height: 100%;}
.h-b-nav ul li{width: 11.111%; float: left; text-align: center;}
.h-b-nav ul li a{display: block; width: 100%; height: 100%; line-height: 50px; color: #fff;}
.h-b-nav ul li img{width: 21px; vertical-align: middle;}

.icon-wrap a{display: block; background-repeat: no-repeat; background-position: center center;}
.all-menu{position: absolute; top: 0; right: 0;}
.all-menu a{width: 50px; height: 50px; background-color: #085aa4; background-image: url(../img/resource/icon_hBot_allM.png);}

/* header M */
.header-b h2{display: none;}
.mob-icon{display: none;}
.mob-icon div{position: absolute; top: 50%; transform: translateY(-50%);}
.mob-icon a{width: 40px; height: 40px; border: 1px solid #0b2266;}
.mob-search{left: 15px;}
.mob-search a{background-image: url(../img/resource/icon_hBot_sch.png);}
.mob-menu{right: 15px;}
.mob-menu a{background-image: url(../img/resource/icon_hBot_allM2.png);}



/* banner */
.con-banner{height: 300px;}

.banner-side{width: 200px; height: 300px; background: rgb(8,90,164); position: absolute; top: 0; left: 0;}
.banner-side li{width: 100%; height: 60px; text-align: center; font-size: .85em; background: rgba(0,0,0,.2); border-bottom: 1px solid rgba(0,0,0,.3);}
.banner-side li:hover{background: rgba(255,255,255,.1);}
.banner-side li:not(:first-child){line-height: 40px;}
.banner-side li a{display: block; width: 100%; height: 100%; padding: 9px 15px; color: #fff;}

.banner-slide{width: 1000px; position: absolute; top: 0; right: 0;}
.banner-slide ul{width: 100%; height: 300px; overflow: hidden; position: relative;}
.banner-slide ul li{width: 100%; height: 100%; position: absolute; top: 0; left: 100%;}
.banner-slide ul li:first-child{left: 0;}
.banner-slide ul li a{display: block; width: 100%; height: 100%;}
.banner-slide ul li a img{vertical-align: bottom;}
.banner-slide ul li a .mob-slide{display: none;}

.banner-btn{width: 144px; height: 35px; position: absolute; bottom: 0; right: 0;}
.banner-btn .arrow{width: 34px; height: 34px; margin: 1px; float: left; cursor: pointer;}
.banner-btn .prev{background: rgba(0,0,0,.4) url(../img/resource/btn_prev.png) no-repeat center center;}
.banner-btn .stopPlay{background: rgba(0,0,0,.4) url(../img/resource/btn_pause.png) no-repeat center center;}
.banner-btn .next{background: rgba(0,0,0,.4) url(../img/resource/btn_next.png) no-repeat center center;}
.number{width: 34px; height: 34px; background: rgba(0,0,0,.4); margin: 1px; float: left;}
.number p{text-align: center; line-height: 35px; font-size: .8em; color: #fff; display: none;}
.number p.on{display: block;}



/* info */
.con-info{margin-bottom: 20px;}
.con-info h2{margin: 20px 0; font-size: 1.5em; font-weight: 500; color: #222; padding-bottom: 15px;}

.info-wrap{position: relative; background: #4a506b; border-radius: 10px;}
.info-wrap div{width: 33.333%; float: left; padding: 20px 0; text-align: center; font-size: 1.1em; cursor: pointer;}
.info-wrap a{color: #fff;}
.infoBtn02{border-left: 1px solid #000; border-right: 1px solid #000;}



/* board */
.con-board{position: relative; margin: 40px 0;}

.board-news{width: 700px; margin-right: 20px; float: left; position: relative;}
.news-tab{padding-right: 50px; border: 1px solid #ddd; overflow: hidden;}
.tab{float: left; width: 20%; height: 50px; text-align: center; font-size: .9em;}
.tab.on{background: #0d64b4;}
.tab a{display: block; line-height: 50px;}
.tab.on a{color: #fff;}
.tab .moreBtn{width: 52px; height: 52px; border: 1px solid #ddd; background: #fff url(../img/resource/icon_more.png) no-repeat center center; position: absolute; top: 0; right: 0;}
.tab .moreBtn a{display: block;}

.news-con{position: absolute; top: 50px; left: 0;}







/* media screen */
@media screen and (max-width: 1200px) {
    .header-t .h-t-search{max-width: 300px; margin-left: 20px;}
    .header-t .h-t-search .search-box{width: 300px;}
    
    .banner-slide{width: 100%; padding-left: 200px;}
    .banner-slide img{width: 100%; height: 100%;}
}

@media screen and (max-width: 1100px) {
    .header-t{display: none;}
    .header-b{height: 70px; background: #fff; border-bottom: 1px solid #dfe0e2; position: relative;}
    .header-b h2{display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    .h-b-nav{display: none;}
    .all-menu{display: none;}
    .mob-icon{display: block;}

    .banner-side{display: none;}
    .banner-slide{padding-left: 0;}
    .banner-slide img{width: 100%;}

    .con-info .container{margin: 0 20px;}
    .info-wrap div{font-size: .9em;}
}

@media screen and (max-width: 768px) {
    .con-banner{height: 230px;}
    .banner-slide ul{height: 230px;}

    .con-info h2{padding-bottom: 0;}
    .info-wrap{border-radius: 5px;}
    .info-wrap div{font-size: .85em;}
}

@media screen and (max-width: 640px){
    .con-info .container{margin: 0 12px;}
    .con-info h2{font-size: 1.1em;}
}

@media screen and (max-width: 568px) {
    .banner-slide .slide{display: none;}
    .banner-slide ul li a .mob-slide{display: block;}
}