*{box-sizing: border-box;}
body{font-size: 16px; letter-spacing: -0.2px;}

/* layout */
#wrap{width: 100%; min-width: 320px; overflow: hidden;}
#header{width: 100%; background: #fff;}
#content{width: 100%; background: #fff; overflow: hidden;}
.container{max-width: 1200px; height: inherit; margin: 0 auto; position: relative;}



/* header PC */
.header-t{width: 100%; height: 90px;}
.header-t h1{float: left; margin: 20px 30px 0 0;}
.header-t .h-t-logos{float: left; margin-top: 20px;}
.header-t .h-t-logos a{padding: 0 3px;}
.header-t .h-t-logos a img{width: 90px; height: 50px; vertical-align: middle;}
.header-t .h-t-search{float: left; max-width: 360px; margin: 25px 0 0 50px;  position: relative;}
.header-t .h-t-search .search-box{width: 360px; border: 3px solid #0b2265; border-radius: 6px; overflow: hidden;}
.header-t .h-t-search .search-box #search{display: block; width: 100%; height: 34px; padding: 3px 50px 3px 3px; color: #666; font-size: 0.87rem; text-indent: 5px; background: #fff; border: none;}
.header-t .h-t-search button{width: 50px; height: 40px; background: #0b2265 url(../img/resource/ico_srch.png) no-repeat center center; border-radius: 0 6px 6px 0; position: absolute; top: 0; right: 0; text-indent: -9999px;}
.header-t .h-t-btns{float: right; height: 90px; min-width: 200px; text-align: right; position: relative;}
.header-t .h-t-btns ul{position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.header-t .h-t-btns ul li{float: left; height: 20px; margin-right: 2px;}
.header-t .h-t-btns ul li a{display: block; width: 20px; height: 20px; border-radius: 50%;}
.header-t .h-t-btns .lan a{display: block; width: inherit; height: 20px; border-radius: 2px; background: #fff; font-size: 12px; color: #5b5b5b; border: 1px solid #d3d3d3; padding: 0 5px; margin-right: 3px;}
.header-t .h-t-btns .lan a:hover{border: 1px solid #0b2265; color: #0b2265;}
.header-t .h-t-btns li:nth-child(2) a{background: url(../img/resource/sns_blog.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(3) a{background: #0054a6 url(../img/resource/sns_fb.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(4) a{background: #00aeef url(../img/resource/sns_tw.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(5) a{background: #fa081f url(../img/resource/sns_yt.png) no-repeat center center;}
.header-t .h-t-btns li:nth-child(6) a{background: url(../img/resource/sns_ins.png) no-repeat center center;}

.header-b{width: 100%; height: 50px; background: #0b2266; position: relative;}
.header-b .container{position: static;}
.h-b-nav{width: calc(100% - 50px); height: 50px; float: left;}
.h-b-nav>ul{width: 100%; height: 100%;}
.h-b-nav>ul>li{width: 11.111%; float: left; text-align: center;}
.h-b-nav>ul>li>a{display: block; width: 100%; height: 100%; line-height: 50px; color: #fff;}
.h-b-nav>ul>li>a.on{color: #6dbbfe;}
.h-b-nav ul li img{width: 21px; vertical-align: middle;}

.flip{width: 100%; position: absolute; top: 50px; left: 0; z-index: 99; visibility: hidden; opacity: 0; background: linear-gradient(to right, #f5f6f8, #f5f6f8 20%, #fff 80%); border-bottom: 1px solid #0b2266; transition: all .5s;}
.flip.visible{visibility: visible; opacity: 1;}
.flip-inner{position: relative; min-height: 100px; background: #fff; overflow: hidden; width: 1200px; margin: 0 auto; padding-left: calc(1200px*0.1666); box-sizing: border-box;}
.flip-title{width: 16.66%; height: 100%; position: absolute; top: 0; left: 0; padding: 20px; background: #f5f6f8;}
.flip-title span{display: block; font-size: 1.625rem; font-weight: 500; color: #333; text-align: right; position: relative;}
.flip-title span::after{content: ""; display: block; width: 35px; height: 1px; background: #474747; position: absolute; bottom: -15px; right: 3px;}
.flip-menu{width: 100%; overflow: hidden;}
.flip-menu>li{overflow: hidden; background: #153184; text-align: left;}
.flip-menu>li:not(:last-child){border-bottom: 1px solid #11276a;}
.flip-menu>li>a{display: block; float: left; width: 190px; padding: 15px 20px; background: #153184; color: #fff; font-size: 0.875rem;}
.flip-menu li ul{min-height: 52px; padding: 10px; overflow: hidden; background: #fff;}
.flip-menu li ul li{float: left;}
.flip-menu li ul li a{display: block; color: #777; font-size: 0.875rem; padding: 2px 16px 2px 8px; position: relative;}
.flip-menu li ul li a::before{content: ""; display: block; width: 4px; height: 1px; background: #777; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.flip-menu li ul li .after::after{content: ""; display: inline-block; width: 11px; height: 10px; background: url(../img/resource/ico_blank.png) no-repeat; margin-left: 6px;}

.icon-wrap{width: 50px; height: 50px; float: right;}
.icon-wrap a{display: block; background-repeat: no-repeat; background-position: center center;}
.all-menu a{width: 50px; height: 50px; background-color: #085aa4; background-image: url(../img/resource/icon_hBot_allM.png);}

/* header M */
.header-b h3{display: none;}
.mob-icon{display: none;}
.mob-icon div{position: absolute; top: 50%; transform: translateY(-50%);}
.mob-icon a{width: 40px; height: 40px; border: 1px solid #0b2266;}
.mob-search{left: 15px;}
.mob-search a{background-image: url(../img/resource/icon_hBot_sch.png);}
.mob-menu{right: 15px;}
.mob-menu a{background-image: url(../img/resource/icon_hBot_allM2.png);}



/* banner */
.con-banner{height: 300px;}

.banner-side{width: 200px; height: 300px; background: rgb(8,90,164); position: absolute; top: 0; left: 0;}
.banner-side li{width: 100%; height: 60px; text-align: center; font-size: 0.85rem; background: rgba(0,0,0,.2); border-bottom: 1px solid rgba(0,0,0,.3);}
.banner-side li:hover{background: rgba(255,255,255,.1);}
.banner-side li:not(:first-child){line-height: 40px;}
.banner-side li a{display: block; width: 100%; height: 100%; padding: 9px 15px; color: #fff;}

.banner-slide{width: 1000px; height: 300px; margin-left: 200px; position: relative;}
.banner-slide .slides a{display: block; width: 100%; height: 300px;}
.banner-slide .slides a img{vertical-align: bottom;}
.banner-slide .mob-slide{display: none;}

.banner-btn{width: 144px; height: 35px; position: absolute; bottom: 0; right: 0;}
.banner-btn .arrow{width: 34px; height: 34px; margin: 1px; float: left; cursor: pointer;}
.banner-btn .prev{background: rgba(0,0,0,.4) url(../img/resource/btn_prev.png) no-repeat center center;}
.banner-btn .stopPlay{background: rgba(0,0,0,.4) url(../img/resource/btn_pause.png) no-repeat center center;}
.banner-btn .next{background: rgba(0,0,0,.4) url(../img/resource/btn_next.png) no-repeat center center;}
.number{width: 34px; height: 34px; background: rgba(0,0,0,.4); margin: 1px; float: left; text-align: center; line-height: 35px; font-size: 0.8rem; color: #fff;}
.banner-btn button:focus{border: 2px solid #4e69cc;}



/* info */
.con-info{margin-bottom: 20px;}
.con-info h2{margin: 20px 0; font-size: 1.5rem; font-weight: 500; color: #222;}

.info-btn-wrap{position: relative;}
.info-btn-wrap .info-btn{width: 33.333%; float: left; padding: 20px 0; text-align: center; font-size: 1.1rem; cursor: pointer; margin-top: 15px; background: #4a506b;}
.info-btn-wrap .info-btn.on{background: #085aa3; position: relative;}
.info-btn-wrap .info-btn.on::after{content: ""; width: 29px; height: 29px; position: absolute; top: 0px; left: 50%; transform: translate(-50%, -50%); background: url(../img/resource/info_check.png) no-repeat center center;}
.info-btn-wrap .info-btn a{color: #fff;}
.info-btn-wrap .info-btn:nth-child(1){border-radius: 10px 0 0 10px;}
.info-btn-wrap .info-btn:nth-child(2){border-left: 1px solid #000; border-right: 1px solid #000;}
.info-btn-wrap .info-btn:nth-child(3){border-radius: 0 10px 10px 0;}

.info-tab{border: 1px solid #d8d8d8; padding: 20px 0; margin-top: 20px; border-radius: 10px; box-shadow: 0 0 11px 0 rgba(0,0,0,0.1);}

#tab01>ul{margin: 10px 20px 0; overflow: hidden;}
#tab01>ul>li{float: left; width: 16.6%; font-size: 0.85rem; color: #43475e; padding: 0 10px;}
#tab01>ul>li:not(:last-child){border-right: 1px solid #d8d8d8;}
#tab01>ul>li>ul{margin-top: 10px;}
#tab01>ul>li>ul>li{font-size: 0.8rem; padding-left: 7px; position: relative;}
#tab01>ul>li>ul>li>a{display: block; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#tab01>ul>li>ul>li>a:hover{text-decoration: underline #085aa3; color: #085aa3;}
#tab01>ul>li>ul>li>a::before{content: ""; width: 2px; height: 2px; background: #999; position: absolute; top: 9px; left: 0;}

.img-tab ul{overflow: hidden;}
.img-tab ul li{float: left; width: 8%; margin: 0 1%; background: #edeef1; border-radius: 20px;}
.img-tab ul li.on{background: #448cca;}
.img-tab ul li .icons a{display: block; text-align: center; font-size: 0.85rem; color: #43475e;}
.img-tab ul li.on .icons a{color: #fff;}
.img-tab ul li .icons a img{width: 52px; height: 52px; margin-top: 12px;}
.img-tab ul li .icons a span{display: block; margin-bottom: 7px;}






/* board */
.con-board{position: relative; margin: 40px 0; overflow: hidden;}

.board-news{width: calc(100% - 495px); float: left; position: relative;}
.news-tab{padding-right: 50px; border: 1px solid #ddd; overflow: hidden;}
.tab{float: left; width: 20%; height: 50px; text-align: center; font-size: 0.9rem;}
.tab.on{background: #0d64b4;}
.tab a{display: block; line-height: 50px;}
.tab.on>a{color: #fff;}
.tab.on .news-con{display: inherit;}
.tab .moreBtn{width: 52px; height: 52px; border: 1px solid #ddd; background: #fff url(../img/resource/icon_more.png) no-repeat center center; position: absolute; top: 0; right: 0; display: none;}
.tab.on .moreBtn{display: block;}

.news-con{display: none; width: 100%; position: absolute; top: 50px; left: 0;}
.news-con ul{height: 170px; margin: 10px 0; overflow-y: auto;}
.news-con ul li{width: 100%; height: auto; padding: 6px; font-size: 0.85rem; color: #666; text-align: left; overflow: hidden;}
.news-con .cate{display: block; width: 66px; height: 22px; line-height: 22px; margin-right: 10px; text-align: center; font-size: 0.813rem; color: #fff; border-radius: 3px; float: left;}
.news-con .category01{background: #19aad9;}
.news-con .category02{background: #17419a;}
.news-con .category03{background: #085aa4;}
.news-con .category04{background: #4a506b;}
.news-con ul li a{display: block; width: calc(100% - 150px); line-height: inherit; text-overflow: ellipsis; white-space: nowrap; font-size: 0.875rem; float: left; overflow: hidden;}
.news-con .date{display: block; color: #666; font-size: 0.813rem; float: right;}


.board-intro{width: 465px; height: 234px; float: right;}



/* news */
.con-news{margin: 20px auto; overflow: hidden; position: relative;}
.con-news .container{background: #f8f9fb;}
.con-news h2{margin: 20px 0; font-size: 1.5rem; font-weight: 500; color: #222;}



/* link */
.con-link h4{margin: 5px 0 15px; font-size: 1.15rem; font-weight: 500; color: #222;}

.link-list{overflow: hidden; border: 1px solid #ddd; border-radius: 10px;}
.link-list li{height: 72px; line-height: 72px; text-align: center; float: left;}
.link-list li:not(:last-child){border-right: 1px solid #ddd;}
.link-list li a{display: block; width: 100%; height: 100%; color: #43475e; font-size: 0.95rem;}
.link-list li a:hover{text-decoration: underline;}

.link-list-t{margin-bottom: 20px;}
.link-list-t li{width: 12.5%;}

.link-list-b{margin-bottom: 50px;}
.link-list-b li{width: 25%;}



/* footer */
.footer{background: #4c515c; border-top: 1px solid #70747d;}

.f-t-list{width: 100%; padding: 15px 0;}
.f-t-list li{float: left;}
.f-t-list li:not(:last-child):after{content: ""; display: inline-block; width: 1px; height: 12px; background: #70747d;}
.f-t-list li a{color: #fff; font-size: 0.87rem; margin: 0 15px;}
.f-t-list li:first-child a{color: #ffd200; font-size: 0.95rem;}


.footer-b{padding: 20px 0;}
.footer-b .logo{width: 128px; height: 48px; background: url(../img/resource/kipo_logo3.png) no-repeat; margin-left: 15px; display: inline-block;}
.footer-info{margin-left: 25px; display: inline-block;}
.footer-info p{color: #a9adb9; font-size: 0.85rem; line-height: 1.5;}
.footer-info p span{display: block;}
.footer-info .copyright{color: #7d818c; font-size: 0.65rem; line-height: 2.0;}
.footer-mark{float: right;}
.footer-mark a{display: inline-block; width: 90px; height: 50px;}
.footer-mark .mark01{background: url(../img/resource/kogl.png) no-repeat center center;}
.footer-mark .mark02{background: url(../img/resource/webwatch.png) no-repeat center center;}








/* media screen */
@media screen and (max-width: 1200px) {
    .header-t .h-t-search{max-width: 300px; margin-left: 20px;}
    .header-t .h-t-search .search-box{width: 300px;}
    
    .banner-slide{width: 100%; margin-left: 200px;}
    .banner-slide img{width: 100%; height: 100%;}
}

@media screen and (max-width: 1100px) {
    .header-t{display: none;}
    .header-b{height: 70px; background: #fff; border-bottom: 1px solid #dfe0e2; position: relative;}
    .header-b h3{display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    .h-b-nav{display: none;}
    .all-menu{display: none;}
    .mob-icon{display: block;}

    .banner-side{display: none;}
    .banner-slide{margin-left: 0;}
    .banner-slide img{width: 100%;}

    .con-info .container{margin: 0 20px;}
    .con-board .container{margin: 0 20px;}
    .con-news .container{margin: 0 20px;}
    .con-link .container{margin: 0 20px;}
    .info-wrap div{font-size: 0.9rem;}
}

@media screen and (max-width: 900px) {
    .board-news{clear: both; width: 100%; height: 400px; margin-bottom: 20px;}
    .news-con ul{height: 170px; height: 335px;}
    .board-intro{clear: both; width: 100%; height: 150px; background: #0b2266 url(../img/resource/intro_bg.png) no-repeat center right;}
    .board-intro a{display: block; width: 100%; height: 100%; background: url(../img/resource/intro_2.png) no-repeat center left;}
    .board-intro a img{display: none;}
}
@media screen and (max-width: 780px) {
    .footer-mark{clear: both; position: absolute; top: 20px; right: 10px;}
}
@media screen and (max-width: 768px) {
    .con-banner{height: 230px;}
    .banner-slide{height: 230px;}
    .banner-slide .slides a{height: 230px;}

    .con-info h2{padding-bottom: 0;}
    .info-wrap{border-radius: 5px;}
    .info-wrap div{font-size: 0.85rem;}

    .link-list{border-radius: 0;}

    .link-list-t li{width: 25%;}
    .link-list-t li:nth-child(4n){border-right: none;}
    .link-list-t li:nth-child(-n+4){border-bottom: 1px solid #ddd;}
}

@media screen and (max-width: 640px){
    .con-info .container{margin: 0 12px;}
    .con-info h2{font-size: 1.1rem;}

    .f-t-list{text-align: center;}
    .f-t-list li{display: inline-block; float: inherit;}
    .f-t-list li:not(:last-child):after{content: none;}
    .f-t-list li a{font-size: 0.8rem; margin: 0 8px;}
    .f-t-list li:first-child a{font-size: 0.9rem;}

    .footer-b .logo{display: none;}
    .footer-info{margin-left: 0;}
    .footer-info p{font-size: 0.75rem;}
    .footer-info p span{display: inline;}
    .footer-mark{position: inherit; top: inherit; right: inherit;}
}

@media screen and (max-width: 568px) {
    .banner-slide .slide{display: none;}
    .banner-slide .mob-slide{display: block;}

    .board-intro{height: inherit; background: none;}
    .board-intro a{background: none;}
    .board-intro a img{display: block; width: 100%;}

    .link-list li{width: 50%; height: 40px; line-height: 40px;}
    .link-list li:nth-child(2n){border-right: none;}
    .link-list li a{font-size: 0.9rem;}
    .link-list-t li:nth-child(-n+6){border-bottom: 1px solid #ddd;}
    .link-list-b li:nth-child(-n+2){border-bottom: 1px solid #ddd;}
    
}